[flake8]
max-line-length = 100
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    .pytest_cache,
    .tox,
    *.egg-info,
    node_modules
max-complexity = 10
